---
import { Img } from 'astro-imagetools/components';
import { getCollection } from 'astro:content';
import LinkButton from '../../components/LinkButton.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const projects = await getCollection('project');
    return projects.map((project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title + ' | Breindl Thomas'} active="Projekte">
    <body>
        <div class="scroll-container">
            <div>
                <section class="pt-24 md:pt-36 lg:pt-48 xl:pt-52">
                    <div class="wrapper px-4">
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                            <div class="info mb-5 md:mb-0">
                                <div>
                                    <h1 class="mb-4 text-3xl font-extrabold lg:text-4xl">{project.data.title}</h1>
                                    <div id="Desc" class="mb-4">
                                        <p class="pre-header mb-2 text-sm uppercase text-gray-400">Aufgabe</p>
                                        <h4 class="mb-4 text-lg font-medium">
                                            {
                                                project.data.tasks.map((task: string) => (
                                                    <span>
                                                        {task}
                                                        <br />
                                                    </span>
                                                ))
                                            }
                                        </h4>
                                        <p class="pre-header mb-2 text-sm uppercase text-gray-400">Jahr</p>
                                        <h4 class="text-lg font-medium">{project.data.year}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="content col-span-2">
                                <div class="content-body mb-4 text-justify text-xl font-normal text-gray-600">
                                    <Content />
                                    <div class="mt-4 flex flex-row space-x-4">
                                        {
                                            project.data.links?.github && (
                                                <LinkButton
                                                    text="GitHub-Link"
                                                    icon="mdi:github"
                                                    href={project.data.links.github}
                                                />
                                            )
                                        }
                                        {
                                            project.data.links?.website && (
                                                <LinkButton
                                                    text="Webseite"
                                                    icon="mdi:link"
                                                    href={project.data.links.website}
                                                />
                                            )
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="case-study-photos pt-20">
                    <div class="wrapper px-4">
                        <div>
                            <Img
                                alt="Website on multiple devices"
                                src="images/BetterGaming-full.jpg"
                                height="820px"
                                width="1420px"
                                attributes={{
                                    img: {
                                        class: 'rounded-3xl',
                                    },
                                }}
                                loading="lazy"
                            />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</Layout>

<style lang="scss">
    .pre-header {
        padding-top: 5px;
        padding-bottom: 5px;
        letter-spacing: 0.4em;
    }
    section.case-study-photos Img {
        display: block;
        max-width: 100%;
        opacity: 1;
        margin: 0 auto;
        width: 100%;
    }
    section.case-study-photos video {
        display: block;
        width: 100%;
    }

    // Animation
    .Lading-animation {
        animation: none;
        transition: none;
    }

    @media (prefers-reduced-motion: no-preference) {
        // Landing page animation
        .Lading-animation {
            z-index: 2;
            opacity: 0;
            animation-name: Lading-animation;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;

            &:nth-child(1) {
                animation-delay: 0.5s;

                &.content-body {
                    animation-delay: 1.5s;
                }
            }

            &:nth-child(2) {
                animation-delay: 1s;

                &.case-study-photos {
                    animation-delay: 2.5s;
                }
            }
        }
        @keyframes Lading-animation {
            from {
                opacity: 0;
                visibility: hidden;
                filter: blur(2px);
                transform: translate3d(0, 20px, 0);
                transition:
                    opacity 0.5s ease-in,
                    transform 0.4s ease-in;
            }
            to {
                opacity: 1;
                visibility: visible;
                filter: blur(0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
</style>

<script>
    const $: (selector: string) => Element | null = (selector: string) => {
        document.querySelector(selector);

        return document.querySelector(selector);
    };

    $('.info h1')?.classList.add('Lading-animation');
    $('#Desc')?.classList.add('Lading-animation');
    $('.content .content-body')?.classList.add('Lading-animation');
    $('.case-study-photos')?.classList.add('Lading-animation');
</script>
