---
export interface Props {
    title: string;
    name: string;
    decription: string;
    url: string;
    isNew?: boolean;
    year: number;
    animation: 'Fly-in-right' | 'Fly-in-left';
}

const { name, title, url, animation, isNew = false, year } = Astro.props;
const newClass = isNew ? 'new' : '';

import { Img } from 'astro-imagetools/components';
---

<div class:list={['list-item-portfolio', 'i-v', animation]}>
    <a href={url} class:list={{ newClass }} rel="prefetch">
        {
            isNew && (
                <div>
                    {' '}
                    <i class="new dark-bg">new</i>
                    <svg viewBox="0 0 100 100" class="circle">
                        <circle cx="50" cy="50" r="47" stroke-width="6" />
                    </svg>
                </div>
            )
        }
        <div>
            <Img
                alt="BetterGaming - Designed by rawpixel.com / Freepik"
                width="703px"
                height="838px"
                src={`images/${name}.jpg`}
                loading="lazy"
            />
        </div>
        <strong class="regular white-bg">
            <span class="h5">{year}</span>
            <span class="h2 with-badge font-extrabold">{title}</span>
            <span class="more with-icon">
                <p>
                    Mehr erfahren!
                    <span class="icon icon-arrow-link-thin icon--on-right">
                        <svg><use xlink:href="#icon_arrow_link--thin"></use></svg>
                    </span>
                </p>
            </span>
        </strong>
        <strong class="action"
            ><span class="h5">{year}</span>
            <span class="h2 with-badge font-extrabold">{title}</span>
            <span class="more with-icon">
                <p>
                    Mehr erfahren!<span class="icon icon-arrow-link-thin icon--on-right"
                        ><svg> <use xlink:href="#icon_arrow_link--thin"></use></svg></span
                    >
                </p>
            </span>
        </strong>
    </a>
</div>

<style lang="scss">
    .list-item-portfolio {
        & + & {
            margin-top: 30px;
        }

        > a {
            background: rgba(249, 249, 249, 0.9);
            height: 100%;
            position: relative;
            display: block;
            overflow: hidden;
            padding-top: 130px;
            border: 0;
            border-radius: 25px;

            &:before {
                background: rgba(15, 20, 30, 0.9);
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                content: '';
                box-sizing: border-box;
                border-radius: 25px;
                transition: opacity 0.2s linear;
            }

            a div > Img {
                box-sizing: border-box;
                border-radius: 25px;
            }

            strong {
                position: absolute;
                display: block;
                width: 100%;
                top: 20px;
                left: 0;
                z-index: 2;
                pointer-events: none;

                > span {
                    display: block;
                }

                .h2,
                .h5,
                .more {
                    padding-left: 30px;
                    padding-right: 30px;
                    max-width: 320px;
                }

                .h2.with-badge,
                .h5.with-badge,
                .more.with-badge {
                    padding-right: 13%;
                }

                .more {
                    margin-top: 5px;

                    .icon {
                        width: 16px;
                        height: 16px;

                        svg {
                            top: 0.15em;
                        }
                    }

                    .icon--on-right {
                        margin-left: 10px;
                    }
                }
            }
        }

        & > a strong.regular {
            opacity: 1;
        }

        & > a strong.regular .h2,
        & > a strong.regular .h5,
        & > a strong.regular .more {
            transition: all 0.2s linear;
        }

        & > a strong.regular.dark-bg .h5,
        & > a strong.regular.dark-bg .more {
            opacity: 0.7;
        }

        & > a strong.regular.dark-bg .h2,
        & > a strong.regular.dark-bg .h5,
        & > a strong.regular.dark-bg .more p {
            color: #fff;
        }

        & > a strong.action {
            left: -9999px;
        }

        & > a strong.action .h2,
        & > a strong.action .h5,
        & > a strong.action .more {
            opacity: 0;
            transform: translate3d(0, 20px, 0);
        }

        & > a strong.action .h2,
        & > a strong.action .h5,
        & > a strong.action .more p {
            color: #fff;
        }

        & > a:active:before {
            opacity: 1;
        }

        & > a:active i.new {
            border-color: #fff;
        }

        & > a:active strong {
            &.regular {
                opacity: 0;
            }
            &.action {
                left: 0;
                .h5 {
                    opacity: 0.6;
                    transform: translate3d(0, 0, 0);
                    transition: all 0.2s linear 0s;
                }
                .h2 {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                    transition: all 0.2s linear 0.1s;
                }
                .more {
                    opacity: 0.6;
                    transform: translate3d(0, 0, 0);
                    transition: all 0.2s linear 0.2s;
                }
            }
        }
        & > a i.new {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 20px;
            right: 20px;
            z-index: 3;
            pointer-events: none;
            color: #fff;
            text-align: center;
            font-size: 0.625rem;
            line-height: 2.75rem;
            font-weight: 800;
            letter-spacing: 0.2em;
            padding-left: 3px;
            text-transform: uppercase;
            font-style: normal;
            border: 3px solid #0f141e;
            border-radius: 50%;
            transition: all 0.2s linear;
            background: #0e1322;
        }
        .list-item-portfolio > a canvas,
        .list-item-portfolio > a svg.circle {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 20px;
            right: 20px;
            z-index: 2;
            pointer-events: none;
        }
        & > a canvas,
        & > a svg.circle {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 20px;
            right: 20px;
            z-index: 2;
            pointer-events: none;
        }
        & > a Img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            z-index: 0;
            pointer-events: none;

            &.loaded {
                transition: transform 0.2s linear, opacity 0.2s linear;
            }
        }
    }

    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        .list-item-portfolio > a strong .more {
            margin-top: 10px;
        }
    }
    @media (min-width: 1280px) {
        .list-item-portfolio > a svg.circle {
            z-index: 3;
            transform: rotate(-170deg);
            stroke-dashoffset: 295.16;
            stroke-dasharray: 295.16;

            circle {
                stroke: #fff;
                opacity: 0;
                fill: none;
            }
        }
    }
    @media (min-width: 375px) {
        .list-item-portfolio > a {
            padding-top: 80px;
        }
        .list-item-portfolio > a strong .h2,
        .list-item-portfolio > a strong .h5,
        .list-item-portfolio > a strong .more {
            padding-right: 3%;
        }
        .list-item-portfolio > a strong .h2.with-badge,
        .list-item-portfolio > a strong .h5.with-badge,
        .list-item-portfolio > a strong .more.with-badge {
            padding-right: 15%;
        }
    }
    @media (min-width: 410px) {
        .list-item-portfolio > a {
            padding-top: 100px;
        }
        .list-item-portfolio > a strong .h2,
        .list-item-portfolio > a strong .h5,
        .list-item-portfolio > a strong .more {
            max-width: 520px;
            padding-right: 10%;
        }
        .list-item-portfolio > a strong .h2.with-badge,
        .list-item-portfolio > a strong .h5.with-badge,
        .list-item-portfolio > a strong .more.with-badge {
            padding-right: 10%;
        }
    }
    @media (min-width: 660px) {
        .list-item-portfolio {
            margin: 7px;
            width: calc(50% - 14px);
        }
        .list-item-portfolio + .list-item-portfolio {
            margin-top: 7px;
        }
        .list-item-portfolio > a {
            padding-top: 120px;
        }
        .list-item-portfolio > a strong .h2,
        .list-item-portfolio > a strong .h5,
        .list-item-portfolio > a strong .more {
            max-width: none;
            padding-right: 10%;
        }
        .list-item-portfolio > a strong .h2.with-badge,
        .list-item-portfolio > a strong .h5.with-badge,
        .list-item-portfolio > a strong .more.with-badge {
            padding-right: 20%;
        }
    }
    @media (min-width: 768px) and (min-height: 620px), (min-width: 1280px) {
        .list-item-portfolio {
            margin: 15px;
            width: calc(50% - 30px);
        }
        .list-item-portfolio + .list-item-portfolio {
            margin-top: 15px;
        }
        .list-item-portfolio > a {
            padding-top: 180px;
        }
        .list-item-portfolio > a strong {
            top: 30px;
        }
        .list-item-portfolio > a strong .h2,
        .list-item-portfolio > a strong .h5,
        .list-item-portfolio > a strong .more {
            padding-left: 40px;
            padding-right: 0;
            max-width: 280px;
        }
        .list-item-portfolio > a strong .h2.with-badge,
        .list-item-portfolio > a strong .h5.with-badge,
        .list-item-portfolio > a strong .more.with-badge {
            padding-right: 0;
        }
    }
    @media (min-width: 1024px) {
        .list-item-portfolio > a {
            padding-top: 80px;
        }
        .list-item-portfolio > a strong {
            top: 40px;
        }
        .list-item-portfolio > a strong .h2,
        .list-item-portfolio > a strong .h5,
        .list-item-portfolio > a strong .more,
        .list-item-portfolio > a strong .with-badge {
            padding-left: 50px;
            max-width: 380px;
        }
    }
    @media (min-width: 1280px) {
        .list-item-portfolio {
            margin: 30px;
            width: calc(50% - 60px);
        }
        .list-item-portfolio + .list-item-portfolio {
            margin-top: 30px;
        }
        .list-item-portfolio > a {
            padding-top: 0;
        }
        .list-item-portfolio > a:active {
            border-color: transparent;
        }
        .list-item-portfolio > a:hover:before {
            opacity: 1;
        }
        .list-item-portfolio > a:hover Img {
            transform: scale(1.02);
        }
        .list-item-portfolio > a:hover strong.regular {
            opacity: 0;
        }
        .list-item-portfolio > a:hover strong.regular .h2,
        .list-item-portfolio > a:hover strong.regular .h5,
        .list-item-portfolio > a:hover strong.regular .more p {
            color: #fff;
        }
        .list-item-portfolio > a:hover strong.regular .h5,
        .list-item-portfolio > a:hover strong.regular .more {
            opacity: 0.6;
        }
        .list-item-portfolio > a:hover strong.action {
            left: 0;
        }
        .list-item-portfolio > a:hover strong.action .h5 {
            opacity: 0.6;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0s;
        }
        .list-item-portfolio > a:hover strong.action .h2 {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0.1s;
        }
        .list-item-portfolio > a:hover strong.action .more {
            opacity: 0.6;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s linear 0.2s;
        }
        .list-item-portfolio > a i.new {
            top: 30px;
            right: 30px;
            border-color: transparent;
            transition: none;
        }
        .list-item-portfolio > a canvas,
        .list-item-portfolio > a svg.circle {
            top: 30px;
            right: 30px;
        }
        .list-item-portfolio > a strong {
            top: 50px;
        }
        .list-item-portfolio > a strong .h2,
        .list-item-portfolio > a strong .h5,
        .list-item-portfolio > a strong .more {
            padding-left: 60px;
            width: 400px;
        }
        .list-item-portfolio > a strong.regular .more {
            display: none;
        }
    }

    // Animation

    .Fly-in-left,
    .Fly-in-right {
        animation: none;
        transition: none;
    }
    @media (prefers-reduced-motion: no-preference) {
        // Fly-in-left
        .Fly-in-left.is-visible {
            animation-name: Fly-in-left;
            animation-duration: 1.2s;
            animation-delay: 0.25s;
            animation-fill-mode: forwards;
        }
        @keyframes Fly-in-left {
            0% {
                opacity: 0;
                filter: blur(4px);
                transform: translate3d(-35px, 0, 0);
                transition: opacity 500ms ease-in, transform 0.4s ease-in, filter 0.1s ease-in;
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translate3d(0, 0, 0);
            }
        }

        // Fly-in-right
        .Fly-in-right.is-visible {
            animation-name: Fly-in-right;
            animation-duration: 1.2s;
            animation-delay: 0.25s;
            animation-fill-mode: forwards;
        }
        @keyframes Fly-in-right {
            0% {
                opacity: 0;
                filter: blur(4px);
                transform: translate3d(35px, 0, 0);
                transition: opacity 500ms ease-in, transform 0.4s ease-in, filter 0.1s ease-in;
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translate3d(0, 0, 0);
            }
        }

        .i-v {
            opacity: 0;
        }
    }
</style>
